<p class="greentext"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Adverts and Promos</p>

<div class="card centertext">
	<div class="card-body">
		<img src="https://image.ibb.co/cpn1nw/simpleshop_logo.jpg" /> 
		<p class="advert_title greentext"><strong>Get simple shop pro</strong></p>
		<br />
		<p>Added benefits and unlimited accounts</p>
 	</div>
</div>