<% include partials/header.ejs %>
<% include partials/menu %>

	<div class="row">
		<div class="col-lg-3 customwidth">
			<% include partials/sidebar %>
		</div>
		<div class="col-lg-9 contentsection">
			<div class="divider"></div>
			<h4 class="greytext">Help and more Information</h4>
			<p class="greytext">Our official documentation on how to use the entire simple shop system will be posted here.</p>
			<div class="divider"></div>
		</div>
	</div>

<% include partials/footer.ejs %>